.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form input[type="username"],
.form input[type="password"],
.form input[type="date"],
form {
  width: 25vw;
}

/* .form input, */
.form select,
.form textarea {
  display: block;
  font: inherit;
  width: 40vw;
  height: 3.5rem;
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.reset-password-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn {
  display: inline-block;
  background-color: #f4f4f4;
  color: #333;
  padding: 0.3rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  margin-right: 0.5rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font: inherit;
}

.btn-reset {
  width: 100%;
  height: 40px;
  color: white;
  background: #92cf48;
  border-radius: 10px;
}

.btn-register {
  width: 100%;
  height: 40px;
  color: white;
  background: #70a5fa;
  border-radius: 10px;
}

.btn-back{
  width: 100%;
  height: 40px;
  color: white;
  background: #70a5fa;
  border-radius: 10px;
  opacity: 0.5;
}

.btn-back:hover {
  opacity: 1;
  color: white;
}


.bold {
  font: bold;
}

.hidden {
  display: none;
} 

.landing {
  position: relative;
  background: url("../images/background_2.jpg") no-repeat
      center center/cover;
  height: 100vh;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color:white;
  background-color: rgba(0, 0, 0, 0.6);
}

.alert{
  opacity: 1;
}