{% extends "layout.html" %} {% block content %} 
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/student.css') }}"
/>

{% with messages = get_flashed_messages(with_categories=true) %}
 {% if messages %} {% for category, message in messages %}
<div class="alert alert-{{ category }} ml-3">
  {{ message }}
</div>
{% endfor %} {% endif %} {% endwith %}
<div class="col-md-12">
  <div class="row">
    {% if current_user.user.role.name == 'admin' or current_user.user.role.name == 'academic' %}
      <a href="{{url_for('educate.create')}}" class="btn btn-green">+ New Course</a>
    {% else %} 
      <a href="#" class="btn btn-green" style="opacity: 0.7;" 
      data-toggle="tooltip" data-placement="bottom" title="You don't have permission"
      >+ New Course</a>
    {% endif %}
  </div>
    <div class="row paginate-student">
    {% if page_num != 1 and page_num != -1%}
      <a class="btn mb-4"  href="{{ url_for('educate.index',page=1) }}">Start </a><span> ... </span> 
      <a class="btn mb-4" href="{{ url_for('educate.index',page=page_num-1) }}" >{{ page_num-1 }}</a>
    {% endif%} 
      <a class="btn mb-4 btn-green"  href="{{ url_for('educate.index',page=page_num) }}">{{ page_num }}</a> 
    {% if page_num != -1 %}
      <a class="btn mb-4"  href="{{ url_for('educate.index',page=page_num+1) }}"> {{ page_num+1 }} </a><span> ... </span>  
      <a class="btn mb-4"  href="{{ url_for('educate.index',page=-1) }}"> End</a> 
    {% endif %}
  </div>
</div>
<div class="col-md-12">
  <div class="row"> 
    <div class="search-area"> 
      <input type="text" name="" placeholder="Search" id="search-course" />
      <i class="fas fa-search"></i>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="row">
    <table>
      <thead>
        <tr>
          <th>CODE</th>
          <th>NAME</th>
          <th>START DATE</th>
          <th>FINISH DATE</th>
          <th>SHIFT</th>
          <th>TEACHER</th>
          <th>TUITION</th>
          <th>STATUS</th> 
          <th>OPTIONS</th>
        </tr>
      </thead>
      <tbody id="body-table-course">
          {% for course in courses %}
          <tr> 
            <td><a href="{{url_for('educate.educate_info',id=course.id)}}">{{ course.id_course }}</a></td>
            <td>
              {% if  (course.start_date > now  ) %}
                <span><i class="fas fa-bullhorn"></i>({{ course.start_date.day - now.day}} left)</span>
              {% elif (course.start_date.month == now.month and course.start_date.year == now.year and course.start_date.day == now.day )%}
                
                <i class="fas fa-bullhorn"></i>
                
              {% elif now > course.finish_date and now.day > course.finish_date.day %}
                <i class="fas fa-times-circle"></i>
              {% else %}
                <i class="fas fa-calendar-alt"></i>
              {% endif %}  
              {{ course.name }} 
            </td>
            <td>{{ course.start_date.strftime("%m-%d-%Y") }}</td>
            <td>{{ course.finish_date.strftime("%m-%d-%Y") }}</td>
            <td>{{ course.shift.name }}</td>
            <td>{{ course.teacher.first_name }}</td> 
            <td>{{ course.tuition }}</td>
           
            <td>
              {% set num_student = 5 - course.list_student|length %}
              {% if course.status %}
                <div class="circle check" data-toggle="tooltip" data-placement="bottom" title="{{'This class has '+ course.list_student|length|string + ' students.' }}"></div>
              {% else %}
                <div class="circle uncheck" data-toggle="tooltip" data-placement="bottom" title="{{'This class has '+ course.list_student|length|string + '. There are more' }}  {{num_student}} {{ 'student to open this class' }}'"></div>
              {% endif %}
            </td>
            <td>
                <a href="{{url_for('educate.educate_info',id=course.id)}}"><i class="fas fa-edit"></i></a>
                {% if current_user.user.role.name == 'admin' %}
                  {% if course.list_student|length == 0 %}  
                    <a href="{{url_for('educate.remove_course',id=course.id)}}" disabled="true"><i class="fas fa-trash-alt"></i></a>
                  {% else %}
                    <a href="#" disabled="true" style="opacity: 0.4" data-toggle="tooltip" data-placement="bottom" title="This class has student can't be remove. You must be remove all student before remove this course!"><i class="fas fa-trash-alt"></i></a>
                  {% endif %}
                {% endif %}
            </td>
          </tr>
        {% endfor %} 
      </tbody>
    </table>
  </div>
</div>
<script
src="{{ url_for('static', filename='js/course.js') }}"
crossorigin="anonymous"
></script>
{% endblock content %}
