{% extends "layout.html" %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/student.css') }}"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/staff.css') }}"
/>
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
  %} {% for category, message in messages %}
  <div class="alert alert-{{ category }} ml-3">
    {{ message }}
  </div>
  {% endfor %} {% endif %} {% endwith %}
   
      <div class="col-md-12">
        <div class="row">
          <a href="{{url_for('staff.create')}}" class="btn btn-green">+ New Staff</a>
          {% if current_user.user.role.name == "admin" %}
            <a href="{{url_for('staff.staff_removed',page=1)}}" class="btn btn-yellow ml-2">List Removed Staff</a>
          {% endif %}  
          {% if current_user.user.role.name == "admin" %}
            <a href="{{url_for('staff.staff_inactived',page=1)}}" class="btn btn-yellow ml-2">List Staff Inactive Yet</a>
          {% endif %}  
         
        </div> 
        <div class="paginate-student">
          {% if page_num != 1 and page_num != -1%}
            <a class="btn mb-4"  href="{{ url_for('staff.index',page=1) }}">Start </a><span> ... </span> 
            <a class="btn mb-4" href="{{ url_for('staff.index',page=page_num-1) }}" >{{ page_num-1 }}</a>
          {% endif%} 
            <a class="btn mb-4 btn-green"  href="{{ url_for('staff.index',page=page_num) }}">{{ page_num }}</a> 
          {% if page_num != -1 %}
            <a class="btn mb-4"  href="{{ url_for('staff.index',page=page_num+1) }}"> {{ page_num+1 }} </a><span> ... </span>  
            <a class="btn mb-4"  href="{{ url_for('staff.index',page=-1) }}"> End</a> 
          {% endif %}
        </div>
      </div>

      <div class="col-md-12">
        <div class="row"> 
          <div class="search-area"> 
            <input type="text" name="" placeholder="Search" id="search-staff" />
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-5">
       
        <div class="row">
          <table>
            <thead>
              <tr>
                <th>NAME</th>
                <th>PHONE</th>
                <th>EMAIL</th>
                <th>ADDRESS</th>
                <th>BIRTH</th>
                <th>GENDER</th>
                <th>ROLE</th>
                <th>AVATAR</th> 
                <th>STATUS</th>
                <th>OPTION</th>
              </tr>
            </thead>
            <tbody id="body-table-staff">
              {% for user in users %}
                <tr> 
                  <td><a  href="{{url_for('staff.staff_info',id=user.id)}}">{{ user.first_name+' '+ user.last_name }}</a></td>
                  <td>{{ user.phone }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.address }}</td>
                  <td>{{ user.birth }}</td>
                  <td>{{ user.gender }}</td>
                  <td>{{ user.role.name }}</td>
                  <td><img  alt="avatar" src="{{url_for('static',filename='profile_pics/'+user.image_file)}}" class="user-img staff-img"></td>
                  <td>
                    {% if user.is_activate %}
                      <div class="circle check"></div>
                    {% else %}
                      <div class="circle uncheck"></div>
                    {% endif %}
                  </td>
                  <td>
                      <a href="{{url_for('staff.staff_info',id=user.id)}}"><i class="fas fa-edit"></i></a>
                  </td>
                </tr>
              {% endfor %} 
            </tbody>
          </table>
        </div>
      </div> 
<script
  src="{{ url_for('static', filename='js/staff.js') }}"
  crossorigin="anonymous"
></script>
{% endblock content %}
 
