{% extends "layout.html" %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/teacher.css') }}"
/>
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div class="alert alert-{{ category }}">
  {{ message }}
</div>
{% endfor %} {% endif %} {% endwith %}

<div class="col-md-12">
  <div class="row">
    <a href="{{url_for('teacher.index',page=1)}}" class="btn btn-green"
      >Back manage teacher</a
    >
    {% if current_user.user.role.name == 'admin' or current_user.user.role.name == 'cashier'  %}
    <a
      href="{{url_for('teacher.create_receipt',id=teacher.id)}}"
      class="btn btn-blue ml-3"
      >Payment</a
    > 
    {% endif %}
    {% if current_user.user.role.name == 'admin' %}
      <a
        href="{{url_for('teacher.remove',id=teacher.id)}}"
        class="btn btn-red ml-3 remove-teacher" 
        data-toggle="tooltip" data-placement="bottom" 
        title="{{'This teacher has '+ receipts|length|string + ' receipts.' }}"
        >Remove Teacher</a
      >
    {% endif %}

  </div>
</div>
{% if form %}
<div class="col-md-12">
  <form
    method="POST"
    action=""
    enctype="multipart/form-data"
    style="display:block"
    id="form-update-profile"
  >
    {{ form.hidden_tag() }}
      <div class="row">
        <table>
          <thead>
            <tr>
              <th>UPDATE PROFILE</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ form.first_name.label() }}</td>
              {% if form.first_name.errors %}
              <td>
                {{ form.first_name(class="form-control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.first_name.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </td>
              {% else %}
              <td>
                {{ form.first_name(class="form-control form-control-md") }}
              </td>
              {% endif %}
            </tr>
            <tr>
              <td>{{ form.last_name.label() }}</td>
              {% if form.last_name.errors %}
              <td>
                {{ form.last_name(class="form-control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.last_name.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </td>
              {% else %}
              <td>
                {{ form.last_name(class="form-control form-control-md") }}
              </td>
              {% endif %}
            </tr>
            <tr>
              <td>{{ form.email.label() }}</td>
              {% if form.email.errors %}
              <td>
                {{ form.email(class="form-control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </td>
              {% else %}
              <td>{{ form.email(class="form-control form-control-md") }}</td>
              {% endif %}
            </tr>
            <tr>
              <td>{{ form.phone.label() }}</td>
              {% if form.phone.errors %}
              <td>
                {{ form.phone(class="form-control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.phone.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </td>
              {% else %}
              <td>{{ form.phone(class="form-control form-control-md") }}</td>
              {% endif %}
            </tr>
            <tr>
              <td>{{ form.address.label() }}</td>
              {% if form.address.errors %}
              <td>
                {{ form.address(class="form-control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.address.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </td>
              {% else %}
              <td>
                {{ form.address(class="form-control form-control-md") }}
              </td>
              {% endif %}
            </tr>
            <tr>
              <td>{{ form.birth.label() }}</td>
              {% if form.birth.errors %}
              <td>
                {{ form.birth(class="form-control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.birth.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </td>
              {% else %}
              <td>
                {{ form.birth(class="datepicker form-control form-control-md") }}
              </td>
              {% endif %}
            </tr>
            <tr>
              <td>{{ form.salary.label() }}</td>
              {% if form.salary.errors %}
              <td>
                {{ form.salary(class="form-control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.salary.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </td>
              {% else %}
              <td>{{ form.salary(class="form-control form-control-md") }}</td>
              {% endif %}
            </tr>
            
            <tr>
              <td>{{ form.gender.label() }}</td>
              {% if form.gender.errors %}
              <td>
                {{ form.gender(class="form-control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.gender.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </td>
              {% else %}
              <td>{{ form.gender(class="form-control form-control-md") }}</td>
              {% endif %}
            </tr>
            <tr>
              <td>{{ form.picture.label() }}</td>
              <td>{{ form.picture(class="form-control-file") }}</td>
              {% if form.picture.errors %}
              <td>
                {{ form.picture(class="form-control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.picture.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </td>
              {% endif %}
            </tr>
            <tr>
              <td></td>
              <td class="form-group">
                {{ form.submit(class="btn btn-success") }}
              </td>
            </tr>
          </tbody>
        </table> 
    </div>
  </form>
</div>

{% endif %}
<div class="col-md-12 mb-5">
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>CODE</th>
            <th>FROM</th>
            <th>TO</th>
            <th>BASIC SALARY</th>  
            <th>PAYMENT</th> 
            <th>DATE PAID</th>
            <th>DATE CREATED</th> 
            <th>STATUS</th>
            <!-- <th>OPTION</th> -->
          </tr>
        </thead>
        <tbody>
          {% for receipt in receipts %}
          <tr> 
            <td>{{ receipt.id }}</td>
            <td>{{ receipt.from_date.strftime("%m-%d-%Y") }}</td>
            <td>{{ receipt.to_date.strftime("%m-%d-%Y") }}</td> 
            <td>{{ "$ %.2f"|format(receipt.basic_salary |float) }}</td>
            <td>{{ "$ %.2f"|format(receipt.money) }}</td>
            <td>{{ receipt.created_user.first_name + ' '+ receipt.created_user.last_name }}</td>
            <td>{{ receipt.created_date.strftime("%m-%d-%Y") }}</td> 
            <td>
              {% if receipt.is_activate %}
              <div class="circle check"></div>
              {% else %}
              <div class="circle uncheck"></div>
              {% endif %}
            </td>
            <!-- <td> 
              {% if current_user.user.role.name == 'admin' %}
              <a
                href="{{url_for('teacher.remove',id=teacher.id)}}"
                ><i class="fas fa-trash-alt"></i
              ></a>
              {% endif %}
            </td> -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

<div class="col-md-12 mb-5" id="table-detail-receipt" style="display: none">
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>RECEIPT</th>
            <th>TUITION</th>
            <th>MONEY RETURN</th>
            <th>CREATED BY</th> 
            <th>OPTION</th>
          </tr>
        </thead>
        <tbody id="body-table-detail-receipt">
           
        </tbody>
      </table>
    </div>
  </div>
<script
  src="{{ url_for('static', filename='js/teacher.js') }}"
  crossorigin="anonymous"
></script>
{% endblock content %}
